.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container img {
  max-width: 500px;
  align-self: center;
  background-color: var(--project-card-bg);
  border-radius: 20px;
}

a {
  width: fit-content;
  text-decoration: none;
  color: #222;
  transition: transform 200ms ease-in-out;
}

a:hover {
  transform: scale(1.05);
}

h1 {
  text-align: center;
}

h3, p {
  text-align: center;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (min-width: 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }

  .projectsContainer > * {
    flex-basis: 45%; /* Each project will take up 45% of the row */
    max-width: 45%;  /* Prevents them from stretching too wide */
  }
}
